<p>
	Estimad@ <%= @firmante.nombre %>,
</p>
<p>
	El documento <%= @document.name %> ha sido aceptado por todos los firmantes
</p>
<a href="http://signapp.conconcreto.com/#/documents/<%= @document.id %>?token=<%= @firmante.token_login %>&email=<%=@firmante.email%>&rol=<%=@firmante.rol%>" style="font-size:15px;color:#333333;border-color:#4cae4c;font-family:Helvetica,Arial,Sans Serif;font-weight:bold;text-align:center;text-decoration:none;border-radius:2px;background-color:#5cb85c;display:inline-block" target="_blank">
    <span  style="padding:0px 24px;line-height:44px"> VER DOCUMENTO </span>
</a>