<p>
	Estimad@ <%= @current_user.name %>,
</p>
<p>
	El documento <%= @document.name %> esta proximo a llegar su fecha limite de aprobación
</p>
<a href="http://signapp.conconcreto.com/#/documents/<%= @document.id %>" style="font-size:15px;color:#333333;border-color:#4cae4c;font-family:Helvetica,Arial,Sans Serif;font-weight:bold;text-align:center;text-decoration:none;border-radius:2px;background-color:#5cb85c;display:inline-block" target="_blank">
    <span  style="padding:0px 24px;line-height:44px"> VER DOCUMENTO </span>
</a>
