<!--
<h3>Conconcreto Firma electrónica</h3>
<div style="padding-top: 20%;text-align: center">
	<h4 style="text-align: center">Concreto Firma electrónica le ha envidado un documento para que revise y firme</h4>
</div>
<div style="padding-top: 10%;">
	<button type="button">Revisar Documento</button>
</div>
<b>Cordial Saludo.</b><br><br>

<p><%=@firmante.nombre%></p><br>

<p>Se le informa que se genero el documento <%=@document.name%> de la plataforma <%=@document.plataforma_origen%></p><br>

<b>Método de firma:</b><br>
<p>Visite <%=@document.plataforma_origen%>, haga clic en "REVISAR DOCUMENTO" y especifique el código o token de seguridad: <%= @firmante.signer_token %></p><br><br>

<p>Cordialmente</p><br>
<p>Conconcreto Firma electrónica</p>-->

<html>
<body>
    <div class="">
        <div class="aHl">
        </div>
        <div id=":40b" tabindex="-1">
        </div><div id=":400" class="ii gt">
            <div id=":3zz" class="a3s aXjCH ">
                <div style="background-color:#eaeaea;padding:2%;font-family:Helvetica,Arial,Sans Serif">
                    <img style="display:none">
                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" align="center" width="100%" dir="">
                        <tbody>
                            <tr>
                                <td></td>
                                <td width="640">
                                    <table style="border-collapse:collapse;background-color:#ffffff;max-width:640px">
                                        <tbody>
                                            <tr>
                                                <td style="padding:10px 24px">
                                                    <h2><%=@tenant.name%></h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0px 24px 30px 24px">
                                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" align="center" style="background-color:#f7f7f7;color:#ffffff">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:28px 36px 36px 36px;border-radius:2px;background-color:#f7f7f7;color:#ffffff;font-size:16px;font-family:Helvetica,Arial,Sans Serif;width:100%;text-align:center" align="center">
                                                                  
                                                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding-top:24px;font-size:16px;font-family:Helvetica,Arial,Sans Serif;border:none;text-align:center;color: black;" align="center">
                                                                                    <b><%=@tenant.name%></b> le ha enviado un documento para que revise y firme.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0px 24px 24px 24px;color:#000000;font-size:16px;font-family:Helvetica,Arial,Sans Serif;background-color:white">
                                                    <table role="presentation" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom:20px">
                                                                    <div style="font-family:Helvetica,Arial,Sans Serif;font-weight:bold;line-height:18px;font-size:15px;color:#333333"> Cordial Saludo. </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <span style="font-size:15px;color:#333333;font-family:Helvetica,Arial,Sans Serif;line-height:20px">
                                                        <%=@firmante.nombre%>,
                                                        <br /><br />
                                                        Se le informa que se genero el documento <%=@document.name%> de la Plataforma <%=@document.plataforma_origen%>
                                                        <br /><br />


                                                        <b>Proceso de firma en 3 pasos:</b><br/><br/>
                                                        <p>1. Copie el código o token de seguridad relacionado a continuación: </p>
                                                        <div style="color:#333333;font-family:'Segoe UI',Arial,sans-serif;font-size:18px;padding:8px 16px 8px 16px; background-color: #FFF4CE">
                                                            <strong><%= @firmante.signer_token %></strong>
                                                        </div>
                                                        <br><br>
                                                        <p>2. Haga clic en:</p>
                                                        <div height="44" style="font-size:15px;font-family:Helvetica,Arial,Sans Serif;font-weight:bold;text-align:center;text-decoration:none;border-radius:2px;background-color:#c6d8e2;display:block">
                                                            <a href="http://signapp.conconcreto.com/#/documents/<%= @document.id %>?token=<%= @firmante.token_login %>&email=<%=@firmante.email%>&rol=<%=@firmante.rol%>" style="font-size:15px;color:#333333;border-color:#4cae4c;font-family:Helvetica,Arial,Sans Serif;font-weight:bold;text-align:center;text-decoration:none;border-radius:2px;background-color:#5cb85c;display:inline-block" target="_blank">
                                                                <span  style="padding:0px 24px;line-height:44px"> REVISAR DOCUMENTO </span>
                                                            </a>
                                                        </div>
                                                        <br><br>
                                                        <p>3. Para <b>Aceptar Documento o Rechazar Documento</b> Pegue el código o token de seguridad.
                                                        </p>                                                      

                                                        <br /><br />
                                                        Cordialmente<br /><br />
                                                        <%=@tenant.name%>
                                                    </span><br>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0px 24px 12px 24px;background-color:#ffffff;font-family:Helvetica,Arial,Sans Serif;font-size:11px;color:#666666">
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="font-family:Helvetica,Arial,Sans Serif;font-size:11px;color:#666666;vertical-align:top">
                                                                    <div style="font-family:Helvetica,Arial,Sans Serif;font-size:11px;color:#666666;padding:2px 5px 0 0">
                                                                        Tecnología de
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div style="font-family:Helvetica,Arial,Sans Serif;font-weight:bold; font-size:11px;color:#666666;padding:2px 5px 0 0">
                                                                        Contructora Conconcreto
                                                                    </div>                                                                   
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:30px 24px 45px 24px;background-color:#eaeaea">
                                                    <p style="margin-bottom:1em;font-family:Helvetica,Arial,Sans Serif;font-size:13px;color:#666666;line-height:18px">
                                                        <b>No compartir este correo electrónico</b><br> Este mensaje de correo electrónico contiene un enlace seguro a
                                                        <span class="il">Conconcreto Firma electrónica</span>. No comparta este correo electrónico, el enlace ni el código de acceso con ningún usuario.
                                                        <br>
                                                    </p>                                                   
                                                    
                                                    <p style="margin-bottom:1em;font-family:Helvetica,Arial,Sans Serif;font-size:13px;color:#666666;line-height:18px">
                                                        <b>¿Tiene preguntas sobre el documento?</b><br> Si necesita modificar el documento o tiene preguntas sobre su contenido, póngase en contacto con el remitente directamente por correo electrónico.
                                                        <br>
                                                        <br> Si tiene problemas para firmar el documento, por favor visite la página
                                                        <a href="$URL_MiSitioManuales$" style="color:#2463d1" target="_blank">
                                                            Ayuda con la firma.
                                                        </a>
                                                        <br><br>
                                                    </p>
                                                    
                                                    
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="yj6qo">
                    </div>
                    <div class="adL">
                        <span><span><span></span></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div id=":40g" class="ii gt" style="display:none">
            <div id=":40f" class="a3s aXjCH undefined">
            </div>
        </div>
        <div class="hi">

        </div>
    </div>
</body>
</html>
